.searchCriteria {
    border: 1px solid #d6cfcf;
}

.searchText {
    width: 150px;
}

.searchSelect {
    width: 150px;
    margin-left: 30px;
}

.selectFigure {
    margin: 0px;
    padding: 0px;
}

.selectImage {
    height: 150px;
    width: 200px;
    margin: 0px;
}

.searchResult {
    margin: 10px;
}

.petName {
    background-color: #ffffff;
    margin: 0px;
    padding: 20px 0px;
}

.flex {
    display: flex;
}

.paging {
    padding: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
}

.paging ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.paging ul li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-right: 10px;
    color: #000000;
}

.paging ul li a {
    text-decoration: none;
    background-color: white;
    color: #000000;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    margin: 1px;
    width: 10px;
    border: solid 1px;
    border-radius: 10px;
}

.paging .active {
    background-color: red;
    color: white;
    border: solid 1px;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    margin: 1px;
    width: 10px;
    border-radius: 10px;
}

.paging ul li a:hover {
    background-color: #eeeeee;
}

.detailImage {
    width: 360px;
    height: 360px;
}

.detailTable {
    border: #f5f5f5 solid 1px;
    border-collapse: collapse;
    margin-left: 30px;
}

.detailTable th {
    background-color: #fafafa;
    border: #f5f5f5 solid 1px;
    width: 120px;
}

.detailTable td {
    border: #f5f5f5 solid 1px;
    width: 200px;
    height: 40px;
}

#graph {
    margin-top: 50px;
    margin-bottom: 50px;
}

.insertPetInfoTable {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.insertPetInfoTable td{
    text-align: center;
}

.center {
    margin: 10px;
    text-align: center;
}

.underLineNav {
    border-bottom: 1px solid #d1d5da;
    margin-top: 10px;
    padding: 13px 8px;
}

.underLineNav nav a {
    border-bottom: 2px solid transparent;
    color: #000000;
    padding: 16px 8px;
    
}

.underLineNav nav a:hover {
    border-bottom: 2px solid #d2d2d2;
}

.insertBodyWeightTable {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.insertBodyWeightTable td{
    text-align: center;
}

.date {
    width: 10rem;
}

@media screen and (max-width: 399px) {
    .date {
        width: 8rem;
        font-size: 0.7rem;
    }
}

.title {
    padding-left: 1em; 
}

.title a {
    color: #363636;
}